.page-header
  = link_to new_customer_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Customer
  %h1 Listing customers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Id num
        %th Cellphone
        %th
        %th
        %th

    %tbody
      - @customers.each do |customer|
        %tr
          %td= customer.name
          %td= customer.id_num
          %td= customer.cellphone
          %td= link_to 'Show', customer
          %td= link_to 'Edit', edit_customer_path(customer)
          %td= link_to 'Destroy', customer, data: { confirm: 'Are you sure?' }, method: :delete
= paginate @customers 
