.page-header
  = link_to customers_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_customer_path(@customer), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= t 'show_customer'

%dl.dl-horizontal
  %dt= Customer.human_attribute_name(:name)
  %dd= @customer.name
  %dt= Customer.human_attribute_name(:id_num)
  %dd= @customer.id_num
  %dt= Customer.human_attribute_name(:cellphone)
  %dd= @customer.cellphone
