.active-scaffold-header
  %h2='Days'
.active-scaffold
  %table
    %thead
      %tr
        - @attributes.each do | attribute |
          %th
            %a= attribute

    %tbody
      = content_tag_for(:tr, @customers, class: 'record') do |customer| day = customer.day
        %td= customer.name
        %td= customer.day( @selected_datetime ).bonus
        %td= customer.day( @selected_datetime ).daily_bonus
        %td{:align => "center"}

      - if(@customers.length == 0)
        %tr
          %td{:align => "center", :colspan => "3"} 没有找到记录
