.page-header
  = link_to daily_settings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_daily_setting_path(@daily_setting), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= t 'show_daily_setting'

%dl.dl-horizontal
  %dt= DailySetting.human_attribute_name(:ename)
  %dd= t( @daily_setting.ename, scope: [:enums, :daily_setting, :ename] )
  %dt= DailySetting.human_attribute_name(:effect_value)
  %dd= @daily_setting.effect_value
  %dt= DailySetting.human_attribute_name(:effect_at)
  %dd= @daily_setting.effect_at
