.page-header
  = link_to sales_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_sale_path(@sale), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= t 'show_sale'

%dl.dl-horizontal
  %dt= Sale.human_attribute_name(:customer)
  %dd= @sale.customer.name
  %dt= Sale.human_attribute_name(:unit)
  %dd= @sale.unit
  %dt= Sale.human_attribute_name(:price)
  %dd= @sale.price
