!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Starter Template for Bootstrap

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to(app_name, root_path, :class => "navbar-brand")
      .collapse.navbar-collapse
        = render 'layouts/navbar'
        = render 'layouts/user_dropdown'
      / /.nav-collapse
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        = render 'layouts/sidebar'
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        = content_tag(:h2, yield(:title), :class => 'page-header') if show_title
        = display_flash_message
        = yield
